{% extends 'portfolio/base.html' %}
{% block title %}درباره من{% endblock %}

{% block content %}
<div class="container">
    <h2>درباره من</h2>
    <p>
        سلام! من سعید کامرانی هستم، برنامه‌نویس پایتون و توسعه‌دهنده وب.  
        با سال‌ها تجربه در زمینه توسعه وب، طراحی رابط کاربری و برنامه‌نویسی Backend،  
        علاقه‌مند به یادگیری فناوری‌های نوین و پروژه‌های چالش‌برانگیز هستم.
        کارم در زمینه برنامه نویسی و با کار کردن در محیط متلب از سال 1393 شروع کردم و پروژه های پردازش تصویر انجام دادم.
        کمی بعد در همان سال شروع به یادگیری سی شارپ کردم و برنامه های تحت دسکتاپ را کدنویسی میکردم.
        در سال 1396 شروع به یادگیری جاوا کرده و یک سال بعد پروژه اندروید را که برای سازمان آب و خاک کرج بوده را توسعه دادم و تمام کد ها را در محیط اکلیپس نوشتم.
        در سال 1398 برای کارهای مربوط به پایان نامه و کتابخانه های سیستم اطلاعات مکانی و یادگیری ماشین و کار با الگوریتم های بهینه سازی به سمت پایتون آمدم.
        بعد از اتمام کارشناسی ارشد به سراغ برنامه نویسی بک اند آمدم و کار با جنگو را شروع کردم و تا الان به همین مسیر ادامه داده ام.
    </p>
    <p>
        من در دانشگاه خواجه نصیرالدین طوسی تحصیل کرده‌ام و تمرکزم روی پروژه‌های Django، React و Data Science است.
    </p>
</div>
{% endblock %}
