{% extends 'portfolio/base.html' %}
{% load static %}

{% block title %}تحصیلات{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">تحصیلات</h2>
    <div class="table-responsive">
        <table class="table table-bordered align-middle text-center">
            <thead class="table-dark">
                <tr>
                    <th>مقطع</th>
                    <th>مرکز آموزشی</th>
                    <th>مدت زمان</th>
                    <th>توضیحات</th>
                </tr>
            </thead>
            <tbody>
                <!-- دبیرستان -->
                <tr>
                    <td>دیپلم</td>
                    <td>
                        دبیرستان نمونه ریاضی و فیزیک
                    </td>
                    <td>۱۳۸۹-۱۳۹۲</td>
                    <td>رشته ریاضی و فیزیک - معدل ۱۸.۹</td>
                </tr>

                <!-- کارشناسی -->
                <tr>
                    <td>کارشناسی</td>
                    <td>
                        <img src="{% static 'portfolio/images/education/logo_kntu.png' %}" alt="دانشگاه خواجه نصیر" style="height: 50px;">
                        <br>
                        <a href="https://kntu.ac.ir" target="_blank">دانشگاه صنعتی خواجه نصیرالدین طوسی</a>
                    </td>
                    <td>۱۳۹۲-۱۳۹۶</td>
                    <td>مهندسی عمران - گرایش نقشه برداری</td>
                </tr>

                <!-- کارشناسی ارشد -->
                <tr>
                    <td>کارشناسی ارشد</td>
                    <td>
                        <img src="{% static 'portfolio/images/education/logo_kntu.png' %}" alt="دانشگاه خواجه نصیر" style="height: 50px;">
                        <br>
                        <a href="https://kntu.ac.ir" target="_blank">دانشگاه صنعتی خواجه نصیرالدین طوسی</a>
                    </td>
                    <td>۱۳۹۶-۱۳۹۹</td>
                    <td>
                         سیستم اطلاعات مکانی (GIS)  
                        <br>
                        موضوع پایان‌نامه: «بهینه سازی چیدمان قفسه های فروشگاهی به کمک داده کاوی و الگوریتم ژنتیک به منظور بیشینه سازی سود فروشگاهی»
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
