{% extends 'portfolio/base.html' %}
{% load static %}

{% block title %}علاقه‌مندی‌ها{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4 text-center">علاقه‌مندی‌ها </h2>

    <!-- بخش علمی و تخصصی -->
    <div class="card mb-4 shadow-sm">
        <div class="card-header bg-primary text-white">
            <h4>علاقه‌مندی‌های علمی و تخصصی</h4>
        </div>
        <div class="card-body">
            <p>من به حوزه‌های پیشرفته و جذاب فناوری علاقه‌مندم، از جمله:</p>
            <ul>
                <li><strong>برنامه‌نویسی:</strong> توسعه نرم‌افزارهای کاربردی و وب با تمرکز بر بهینه‌سازی و کیفیت کد.</li>
                <li><strong>هوش مصنوعی:</strong> علاقه‌مند به یادگیری ماشین و توسعه سیستم‌های هوشمند.</li>
                <li><strong>GIS و برنامه‌نویسی ترکیبی:</strong> تلفیق دانش مکانی با تکنولوژی برای تحلیل داده‌های جغرافیایی.</li>
                <li><strong>دیتا ساینس در حوزه علمی:</strong> تجزیه و تحلیل داده‌های پیچیده برای استخراج دانش ارزشمند.</li>
                <li><strong>ریاضی:</strong> عشق به حل مسائل ریاضی و کاربرد آن در علوم کامپیوتر و داده‌ها.</li>
            </ul>
        </div>
    </div>

    <!-- بخش ورزش و تفریحات -->
    <div class="card mb-4 shadow-sm">
        <div class="card-header bg-success text-white">
            <h4>ورزش و تفریحات</h4>
        </div>
        <div class="card-body">
            <p>ورزش نقش مهمی در حفظ سلامت و تمرکز من دارد، من به ورزش‌های زیر علاقه‌مندم:</p>
            <ul>
                <li>بدنسازی</li>
                <li>شنا</li>
                <li>فوتبال</li>
                <li>شطرنج (ورزش فکری)</li>
            </ul>
        </div>
    </div>

    <!-- بخش مهارت‌های نرم -->
    <div class="card mb-4 shadow-sm">
        <div class="card-header bg-info text-white">
            <h4>مهارت‌های نرم (Soft Skills)</h4>
        </div>
        <div class="card-body">
            <p>از ویژگی‌های شخصیتی و مهارت‌های کاری من:</p>
            <ul>
                <li>علاقه‌مند به کار تیمی و همکاری موثر با همکاران</li>
                <li>دلسوز و مسئولیت‌پذیر در انجام پروژه‌ها</li>
                <li>تعهد به یادگیری مداوم و بهبود مهارت‌ها</li>
                <li>سازگار با یادگیری های جدید و مشتاق افزایش سطح علمی در راستای کار</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
